.bill-wrapper {
    .bill-title {
        font-family: monospace;
        font-weight: 500;
    }
    .bill-input {
        width: 430px;
        height: 50px;
        border: none;
        background-color: hsl(189, 41%, 97%);
        padding-right: 20px;
        text-align: right;
        font-size: 30px;
        border-radius: 5px;
        color: #004744;
        font-weight: 700;
    }
    .dollar-icon {
        height: 25px;
    }
}
