.title {
    font-size: 27px;
    font-family: monospace;
    color: hsl(183, 100%, 15%);
    text-align: center;
    margin: 40px;
}

.main-wrapper {
    display: flex;  
    justify-content: space-evenly;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px hsl(185, 19%, 54%);
    width: 70%;
    height: 70vh;

    .interactive-box {
        width: 50%;
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
        }
    }

    .total {
        width: 67vh;
        height: 86%;
        background-color: #004744;
        border-radius: 10px;
        margin-top: 3%;
        margin-right: 10px;
    }
}

/* Mobile responsive */
@media (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    .main-wrapper {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        gap: 20px;
        .interactive-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .total {
            width: 80%;
            height: 45vh;
            margin: auto;
            border-radius: 10px;
            // padding: 5px;
        }
    }

    h1.title {
        font-size: 28px;
        margin: 20px 0;
    }
}
/* Tablet: 601px – 900px */
@media (min-width: 601px) and (max-width: 900px) {

    .title{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .main-wrapper {
        flex-direction: column;   
        width: 90%;
        height: 82vh;
        gap: 20px;

        .interactive-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .total {
            width: 80%;
            height: 37vh;
            margin: auto;
            border-radius: 20px;
        }
    }
}

/* Small Laptop: 901px – 1200px */
@media (min-width: 901px) and (max-width: 1200px) {
    .title {
        font-size: 24px;
        margin-top: 20px;
    }
    .main-wrapper {
        margin-top: -15px;
        flex-direction: row;
        width: 95%;
        height: 70vh;
        gap: -10px;
        .interactive-box {
            width: 50%;
        }

        .total {
            width: 60vh;
            height: 85%;
            margin-top: 40px;
        }
    }
}
