.title{
    font-size: 27px;
    font-family: monospace;
    color: hsl(183, 100%, 15%);
    text-align: center;
    margin: 40px;
}
.main-wrapper{
    display: flex;  
    justify-content: space-evenly;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px hsl(185, 19%, 54%);
    width: 70%;
    height: 70vh;
    .interactive-box{
        width: 50%;
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        }
    }
    .total{
        width: 67vh;
        height: 86%;
        background-color: #004744;
        border-radius: 10px;
        margin-top: 3%;
        margin-right: 10px;
    }
}