.main-wrapper{
    display: flex;
    .title{
        font-size: 33px;
        font-family: monospace;
        font-weight: 700px;
        color: hsl(186, 14%, 43%);
    }
    .main-box{
        border: solid;
        width: 55%;
        margin: auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 20px 0px hsl(185, 19%, 54%);
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    }
}