.people-wrapper {
    .people-title {
        font-family: monospace;
    }
    input {
        width: 430px;
        height: 50px; 
        border: none;
        // background-color: hsl(189, 41%, 97%);
        background-color: hsl(0, 15%, 34%);
        padding-right: 20px;
        text-align: right;
        font-size: 30px;
        border-radius: 5px;
        color: #004744;
        font-weight: 700;
    }
    img {
        height: 25px;
    }
}
