.people-wrapper {
    padding-left: 30px;
    padding-top: 10px;

    .people-title {
        font-family: monospace;
        color: hsl(184, 14%, 56%);
    }

    input {
        width: 430px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: hsl(189, 41%, 97%);
        background-image: url("../assets/images/icon-person.svg");
        background-repeat: no-repeat;
        background-position: left 0.75rem center;
        background-size: 16px;
        box-shadow: 0 0 1px 0;
        text-align: right;
        font-size: 30px;
        font-weight: 700;
        color: #004744;
        padding-right: 15px;
    }

    img {
        height: 25px;
    }
}

/* Mobile responsive */
@media (max-width: 600px) {
    .people-wrapper {
        padding-left: 0;

        input {
            width: 80%;
            font-size: 20px;
            height: 40px;
            margin-left: 35px;
            margin-bottom: -55px;
            margin-top: 5px;
        }
        .people-title {
            margin-top: 20px;
            margin-left: 35px;
            font-size: 17px;
        }
    }
}
@media (min-width: 601px) and (max-width: 900px){
    .people-wrapper {
        padding-left: 0;
        input {
            width: 80%;
            font-size: 20px;
            // height: 40px;
            margin-left: 50px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        .people-title {
            margin-top: 20px;
            margin-left: 50px;
            font-size: 17px;
        }
    }
}
@media (min-width: 901px) and (max-width: 1200px){
    .people-wrapper {
        padding-left: 0;
        .people-title {
            margin-top: 20px;
            margin-left: 50px;
            font-size: 17px;
            margin-bottom: 5px;
        }
        input {
            width: 75%;
            font-size: 25px;
            margin-left: 50px;
        }
    }
}