.tip-wrapper {
    .tip-title {
        font-family: monospace;
        font-weight: 500px;
    }
    .tip-bar {
        display: flex;
        margin-top: 30px;
        button {
            width: 130px;
            height: 50px;
            font-size: 25px;
            font-weight: 700px;
            font-family: monospace;
            color: white;
            border-radius: 5px;
            background-color: #004744;
            cursor: pointer;
            border: none;
            &:hover {
                color: #004744;
                transition: 0.1s;
                background-color: rgb(0, 224, 224);
            }
        }   
    }
}
