.tip-title {
    font-family: monospace;
    color: hsl(184, 14%, 56%);
    padding-left: 30px;
    padding-top: 10px; 
}
.tip-bar {
    padding-left: 25px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 160px);
    gap: 10px;
    }

    .tip {
        height: 60px;
        width: 140px; 

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 25px;
        font-weight: 700;
        font-family: monospace;

        color: white;
        background-color: #004744;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
            color: #004744;
            background-color: hsl(185, 41%, 84%);
            transition: 0.5s;
        }
    }

    .tip-bar input {
        height: 60px;
        width: 135px;

        font-size: 20px;
        font-weight: 700;
        font-family: monospace;

        border-radius: 5px;
        border: none;
        text-align: center;

        box-shadow: 0 0 1px 0;
        background-color: hsl(189, 41%, 97%);
    }
