.tip-amount,
.total-amount {
    font-family: monospace;

    h2 {
        color: white;
        margin-left: 9%;
        padding-top: 50px;
    }

    .second-tag {
        margin-left: 9%;
        color: hsl(186, 14%, 43%);
    }

    h1 {
        font-size: 52px;
        color: rgb(0, 175, 175);
        margin-left: 270px;
        margin-top: -75px;
    }
}

.reset-button {
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
    height: 60px;
    font-size: 25px;
    font-weight: 800;
    font-family: monospace;
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    background-color: #00a39e;
    cursor: pointer;
    border: none;

    &:hover {
        color: #004744;
        transition: 0.3s;
        background-color: rgb(0, 224, 224);
    }
}

/* Mobile responsive */
@media (max-width: 600px) {
    .tip-amount h1,
    .total-amount h1 {
        font-size: 32px;
        margin-left: 20px;
        margin-top: 10px;
        // margin-bottom: -20px;
    }

    .reset-button {
        width: 80%;
        font-size: 20px;
        height: 50px;
        margin: 32px;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .tip-amount h1,
    .total-amount h1 {
        margin-bottom: -5px;
    }

    .total-amount{
        margin-bottom: 30px;
    }

}
@media (min-width: 901px) and (max-width: 1200px){
    
}