.tip-amount {
    font-family: monospace;
    h2 {
        color: white;
        margin-left: 9%;
        padding-top: 50px;
    }
    .second-tag {
        margin-left: 9%;
        color: hsl(186, 14%, 43%);
    }
    h1 {
        font-size: 52px;
        color: rgb(0, 175, 175);
        margin-left: 270px;
        margin-top: -75px;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
}

.total-amount {
    font-family: monospace;

    h2 {
        color: white;
        margin-left: 9%;
        padding-top: 50px;
    }
    .second-tag {
        margin-left: 9%;
        color: hsl(186, 14%, 43%);
    }
    h1 {
        font-size: 52px;
        color: rgb(0, 175, 175);
        margin-left: 270px;
        margin-top: -75px;
    }
}
.reset-button {
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
    height: 60px;
    font-size: 25px;
    font-weight: 800;
    font-family: monospace;
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    background-color: #00a39e;
    cursor: pointer;
    border: none;
    &:hover {
        color: #004744;
        transition: 0.3s;
        background-color: rgb(0, 224, 224);
    }
}       