.total-wrapper {
    width: 45%;
    background-color: #004744;
    border-radius: 10px;
    .tip-amount {
        font-family: monospace;
        .total-title {
            color: white;
            padding-top: 50px;
        }

        .second-tag {
            margin-left: 7%;
            color: hsl(186, 14%, 43%);
        }

        h1 {
            font-size: 55px;
            color: rgb(0, 175, 175);
            margin-left: 270px;
            margin-top: -55px;
        }
    }

    .total-amount {
        font-family: monospace;

        h2 {
            color: white;
            margin-left: 7%;
            padding-top: 50px;
        }

        .second-tag {
            margin-left: 7%;
            color: hsl(186, 14%, 43%);
        }

        h1 {
            font-size: 55px;
            color: rgb(0, 175, 175);
            margin-left: 270px;
            margin-top: -55px;
        }
    }
    button {
        width: 370px;
        height: 60px;
        font-size: 13px;
        font-weight: 800px;
        font-family: monospace;
        color: white;
        border-radius: 5px;
        background-color: #00a39e;
        cursor: pointer;
        border: none;
        &:hover {
            color: #004744;
            transition: 0.1s;
            background-color: rgb(0, 224, 224);
        }
    }
}
